div.card.bg-light(id='chain'+simpleblock.chain+'block'+simpleblock.block+'card')
    div.card-body
        form
            div.mb-3.row
                label.col-sm-2.control-label.pt-2(for='chain'+simpleblock.chain+'block'+simpleblock.block+'magic') Magic:
                div.col-sm-10
                    div.input-group 
                        span.input-group-text #
                        input.form-control(id='chain'+simpleblock.chain+'block'+simpleblock.block+'magic', type='number', value=simpleblock.magic, min='0', step='1', onfocus='this.previousValue = this.value', onkeydown='this.previousValue = this.value', oninput='validity.valid||(value=this.previousValue);', disabled)

            div.mb-3.row
                label.col-sm-2.control-label.pt-2(for='chain'+simpleblock.chain+'block'+simpleblock.block+'blockid') Block:
                div.col-sm-10
                    div.input-group 
                        span.input-group-text #
                        input.form-control(id='chain'+simpleblock.chain+'block'+simpleblock.block+'blockid', type='number', value=simpleblock.blockid, min='0', step='1', onfocus='this.previousValue = this.value', onkeydown='this.previousValue = this.value', oninput='validity.valid||(value=this.previousValue);', disabled)

            div.mb-3.row
                label.col-sm-2.col-form-label(for='chain'+simpleblock.chain+'block'+simpleblock.block+'data') Data:
                div.col-sm-10
                    textarea.form-control(id='chain'+simpleblock.chain+'block'+simpleblock.block+'data',rows='10')

            div.mb-3.row
                label.col-sm-2.control-label.pt-2(for='chain'+simpleblock.chain+'block'+simpleblock.block+'prev') Prev:
                div.col-sm-10
                    input.form-control(id='chain'+simpleblock.chain+'block'+simpleblock.block+'prev', type='text', value=simpleblock.prev)

            div.mb-3.row
                label.col-sm-2.control-label.pt-2(for='chain'+simpleblock.chain+'block'+simpleblock.block+'hash') Hash:
                div.col-sm-10
                    input.form-control(id='chain'+simpleblock.chain+'block'+simpleblock.block+'hash', type='text', disabled)