extends layout

block layout-content
    div.container-fluid
        h1.text-center.mt-3.mb-3 BLOCKCHAIN
        div.row.row-horizon(style='flex-wrap: nowrap')
            - var blocks = []
            - blocks.push({chain: 1, block: 1, magic: 74567, blockid: 1, prev: '0000000000000000000000000000000000000000000000000000000000000000'})
            - blocks.push({chain: 1, block: 2, magic: 74567, blockid: 2, prev: '050a3c1fe50deb0b49aa719b33f55e99114e6ce000e10ef855cb6bb5ea2a0624'})
            - blocks.push({chain: 1, block: 3, magic: 74567, blockid: 3, prev: '91b8325cfe25967ce30e8d6ea5d124b2c026695aedfc5dc6cc7068fd5277119b'})
            - blocks.push({chain: 1, block: 4, magic: 74567, blockid: 4, prev: '3eae7011c3e4525f8d5f221f8c60e3facec881040caf74abd3b648ff835cf3a3'})
            - blocks.push({chain: 1, block: 5, magic: 74567, blockid: 5, prev: '4be027c3c4df33d226a352d337ba400dc7097c085632ade089bc56ff9c1e47eb'})
            - blocks.push({chain: 1, block: 6, magic: 74567, blockid: 6, prev: 'dfbfed7dd4c6e972ffad17325d87cc82f3a5663aea49344f8dd658b645f8251a'})
            each simpleblock in blocks
                div.col-lg-6
                    include includes/simpleblock

    script.
        function getText(chain, block){
            return $('#chain'+chain+'block'+block+'magic').val()+
                   $('#chain'+chain+'block'+block+'blockid').val()+
                   $('#chain'+chain+'block'+block+'data').val()+
                   $('#chain'+chain+'block'+block+'prev').val();
        }

        function setup(chain, block){
            //calculate hash
            updateHash(chain,block);

            //magic
            $('#chain'+chain+'block'+block+'magic').bind('input propertychange', function() {
                    this.value = this.value.replace(/[^0-9]/g, '');
                    updateBlockchain(chain, block, #{blocks.length});
                });

            $('#chain'+chain+'block'+block+'magic').bind('focusout', function() {
                    if(this.value==''){
                        this.value='0';
                        updateBlockchain(chain, block, #{blocks.length});
                    }          
                });

            //block id
            $('#chain'+chain+'block'+block+'blockid').bind('input propertychange', function() {
                    this.value = this.value.replace(/[^0-9]/g, '');
                    updateBlockchain(chain, block, #{blocks.length});
                });

            $('#chain'+chain+'block'+block+'blockid').bind('focusout', function() {
                    if(this.value==''){
                        this.value='0';
                        updateBlockchain(chain, block, #{blocks.length});
                    }
                });

            //data
            $('#chain'+chain+'block'+block+'data').bind('input propertychange', function() { updateBlockchain(chain, block, #{blocks.length}); });

            //prev
            $('#chain'+chain+'block'+block+'prev').bind('input propertychange', function() { updateBlockchain(chain, block, #{blocks.length}); });
        }

        $(function(){
            for(var i = 1; i <= #{blocks.length}; i++){
                setup(1,i);
            }
        });