extends layout

block layout-content
    div.container
        h1.text-center.mt-4.mb-4 MINING DIFFICULTY
        div.card.bg-light
            div.card-body
                form
                    div.row.mb-3
                        label.col-sm-2.control-label.pt-2(for='difficulty', data-toggle='tooltip', data-bs-placement='left') Difficulty:
                        div.col-sm-10
                            input#difficulty.form-control(type='number',value='4', max='256')
                    div.row.mb-3
                        label.col-sm-2.control-label.pt-2(for='maxhashbin', data-toggle='tooltip', data-bs-placement='left') Max hash value (bin):
                        div.col-sm-10
                            input#maxhashbin.form-control(type='text', value='', disabled)
                    div.row.mb-3
                        label.col-sm-2.control-label.pt-2(for='maxhashhex', data-toggle='tooltip', data-bs-placement='left') Max hash value (hex):
                        div.col-sm-10
                            input#maxhashhex.form-control(type='text', value='', disabled)
                p.text-center Valid Hash <= Max Hash
                p#textAvg.text-center.
                    On average ONE out of every 2^4 = 16 hash strings is valid
                p#textPerc.text-center.
                    Chance to find a valid hash: 6.25%
    
    script.
        const txtAvg=document.getElementById('textAvg')
        const txtPrc=document.getElementById('textPerc')
        $(function() {
            update();
            $('#difficulty').bind('input propertychange', function() {
                this.value = this.value.replace(/[^0-9]/g, '');
                if(parseInt(this.value)>256){
                    this.value='256';
                }
                update();
            });

            $('#difficulty').bind('focusout', function() {
                if(this.value=='')
                    this.value='0';
                update();
            });
            
        });

        function update() {
            var diff= parseInt($('#difficulty').val());
            var numOfZerosHex=diff/4;
            
            var hashHex = "0".repeat(numOfZerosHex);
            switch(diff%4){
                case 0:hashHex+="";break;
                case 1:hashHex+="7";break;
                case 2:hashHex+="3";break;
                case 3:hashHex+="1";break;
            }
            hashHex+="f".repeat(64-numOfZerosHex);
            $('#maxhashhex').val(hashHex);

            var hashBin="0".repeat(diff)+"1".repeat(256-diff);
            $('#maxhashbin').val(hashBin);

            txtAvg.textContent='On average ONE out of every 2^'+diff+' = '+Math.pow(2,diff)+' hash strings is valid'
            txtPrc.textContent='Chance to find a valid hash: '+100.0/Math.pow(2,diff) +'%'
        }