extends layout

block layout-content
    div.container-fluid
        h1.text-center.mt-4.mb-4 TRANSACTIONS
        div.row.row-horizon(style='flex-wrap: nowrap')
            - var blocks = []
            - blocks.push({chain: 1, block: 1, magic: 74567, blockid: 1, txs: [{value: '10.44', from: 'Sophia', to: 'Mark'}, {value: '0.95', from: 'Yamato', to: 'Mark'}, {value: '11.20', from: 'Yamato', to: 'Luke'}], prev: '0000000000000000000000000000000000000000000000000000000000000000'})
            - blocks.push({chain: 1, block: 2, magic: 74567, blockid: 2, txs: [{value: '4.55', from: 'Mark', to: 'Nichole'}, {value: '1.00', from: 'Andrei', to: 'Yamato'}, {value: '14.00', from: 'Mark', to: 'Yamato'}, {value: '0.07', from: 'Nichole', to: 'Mark'}], prev: '7fb44d365b716094b740f95894579e6df206bf6b4970b1199243489ff273276b'})
            - blocks.push({chain: 1, block: 3, magic: 74567, blockid: 3, txs: [{value: '12.50', from: 'Andrei', to: 'Nichole'}, {value: '3.44', from: 'Yamato', to: 'George'}, {value: '9.03', from: 'Yamato', to: 'Mark'}, {value: '25.00', from: 'Luke', to: 'Andrei'}, {value: '25.00', from: 'Luke', to: 'Yamato'}, {value: '18.67', from: 'Andrei', to: 'George'}], prev: 'ef610b751a42cb4875fd229547893360e369e8792e51002c34d28a523ccb0851'})
            - blocks.push({chain: 1, block: 4, magic: 74567, blockid: 4, txs: [{value: '9.90', from: 'Nichole', to: 'Sophia'}, {value: '22.42', from: 'Mark', to: 'Luke'}, {value: '4.09', from: 'Yamato', to: 'Sophia'}], prev: '8f91a7d858488c3cdb43fae7920b6e444d963efeb702d69b8255d6a52f92f997'})
            - blocks.push({chain: 1, block: 5, magic: 74567, blockid: 5, txs: [{value: '1.00', from: 'Andrei', to: 'Mark'}, {value: '4.50', from: 'Andrei', to: 'Sophia'}], prev: '22442140f1dcd327cf8e95b124f412904526ff876c51edb3d4c7bddd9efc188c'})
            - blocks.push({chain: 1, block: 6, magic: 74567, blockid: 6, txs: [{value: '115.00', from: 'Nichole', to: 'Mark'}], prev: '8bea76e667ab3f9a8b87926106438eaa4579229ee0d1ef1b2483cb056514f6ea'})
            each transactionblock in blocks
                div.col-lg-6
                    include includes/transactionblock

    script.
        function getText(chain, block){
            var text =  $('#chain'+chain+'block'+block+'magic').val()+
                        $('#chain'+chain+'block'+block+'blockid').val();

            
            
            for(var i = 0; $('#chain'+chain+'block'+block+'tx'+i+'value').length>0; i++){
                text += $('#chain'+chain+'block'+block+'tx'+i+'value').val()+
                        $('#chain'+chain+'block'+block+'tx'+i+'from').val()+
                        $('#chain'+chain+'block'+block+'tx'+i+'to').val();
            }

            text += $('#chain'+chain+'block'+block+'prev').val();

            return text;
        }

        function setup(chain, block){
            updateHash(chain, block);

            //magic
            $('#chain'+chain+'block'+block+'magic').bind('input propertychange', function() {
                    this.value = this.value.replace(/[^0-9]/g, '');
                    updateBlockchain(chain, block, #{blocks.length});
                });

            $('#chain'+chain+'block'+block+'magic').bind('focusout', function() {
                if(this.value==''){
                    this.value='0';
                    updateBlockchain(chain, block, #{blocks.length});
                }          
            });

            //blockid
            $('#chain'+chain+'block'+block+'blockid').bind('input propertychange', function() {
                    this.value = this.value.replace(/[^0-9]/g, '');
                    updateBlockchain(chain, block, #{blocks.length});
                });

            $('#chain'+chain+'block'+block+'blockid').bind('focusout', function() {
                if(this.value==''){
                    this.value='0';
                    updateBlockchain(chain, block, #{blocks.length});
                }
            });

            //txs
            for(var i = 0; $('#chain'+chain+'block'+block+'tx'+i+'value').length>0; i++){
                //tx value
                $('#chain'+chain+'block'+block+'tx'+i+'value').bind('input propertychange', function() {
                        this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');
                        updateBlockchain(chain, block, #{blocks.length});
                    });

                $('#chain'+chain+'block'+block+'tx'+i+'value').bind('focusout', function() {
                        if(this.value==''){
                            this.value='0';
                            updateBlockchain(chain, block, #{blocks.length});
                        }
                    });

                //tx from
                $('#chain'+chain+'block'+block+'tx'+i+'from').bind('input propertychange', function() { updateBlockchain(chain, block, #{blocks.length}); });

                //tx to
                $('#chain'+chain+'block'+block+'tx'+i+'to').bind('input propertychange', function() { updateBlockchain(chain, block, #{blocks.length}); });
            }

            //prev
            $('#chain'+chain+'block'+block+'prev').bind('input propertychange', function() { updateBlockchain(chain, block, #{blocks.length}); });   
        }

        $(function(){
            for(var i = 1; i <= #{blocks.length}; i++){
                setup(1,i);
            }
        });